<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-05-30 19:02:57--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Распознаётся cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)… 169.63.118.104
Подключение к cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 2815 (2,7K) [application/json]
Сохранение в: «bank_market_cap_1.json»

bank_market_cap_1.j 100%[===================>]   2,75K  --.-KB/s    за 0s

2023-05-30 19:02:58 (168 MB/s) - «bank_market_cap_1.json» сохранён [2815/2815]

--2023-05-30 19:02:58--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Распознаётся cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)… 169.63.118.104
Подключение к cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 1429 (1,4K) [application/json]
Сохранение в: «bank_market_cap_2.json»

bank_market_cap_2.j 100%[===================>]   1,40K  --.-KB/s    за 0s

2023-05-30 19:02:59 (227 MB/s) - «bank_market_cap_2.json» сохранён [1429/1429]

--2023-05-30 19:02:59--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Распознаётся cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)… 169.63.118.104
Подключение к cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 590 [text/csv]
Сохранение в: «exchange_rates.csv»

exchange_rates.csv  100%[===================>]     590  --.-KB/s    за 0s

2023-05-30 19:02:59 (80,4 MB/s) - «exchange_rates.csv» сохранён [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [70]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [81]:
columns=['Name','Market Cap (US$ Billion)']

In [82]:
def extract():
    df = extract_from_json("bank_market_cap_1.json")
    return df
    # Write your code here
#extract()

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [87]:
# Write your code here
def extract_from_csv(file):
    dataframe = pd.read_csv(file, names = ['Name','Market Cap (US$ Billion)'], index_col=0, header = 0)
    return dataframe
df = extract_from_csv("exchange_rates.csv")
exchange_rate = df.loc['GBP', 'Market Cap (US$ Billion)']
exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [88]:
def transform(dataframe, rate):
    dataframe['Market Cap (US$ Billion)'] /= rate
    dataframe['Market Cap (US$ Billion)'] = dataframe['Market Cap (US$ Billion)'].astype('float').round(3)
    dataframe.columns = ['Market Cap (GBP$ Billion)']
    return dataframe
    
#df = transform(df, exchange_rate)    
#df

      Market Cap (GBP$ Billion)
Name
AUD                       1.771
BGN                       2.196
BRL                       7.386
CAD                       1.736
CHF                       1.210
CNY                       8.852
CZK                      29.369
DKK                       8.356
EUR                       1.123
GBP                       1.000
HKD                      10.585
HRK                       8.496
HUF                     401.606
IDR                   19248.953
ILS                       4.480
INR                      99.688
ISK                     176.315
JPY                     141.715
KRW                    1509.888
MXN                      27.216
MYR                       5.520
NOK                      11.602
NZD                       1.903
PHP                      65.634
PLN                       5.097
RON                       5.474
RUB                     102.309
SEK                      11.322
SGD                       1.814
THB                      40.975
TRY                      10.129
USD                       1.365
ZAR                      20.642

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [78]:
def load(dataframe):
    dataframe.to_csv('bank_market_cap_gbp.csv')
#load(df)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [91]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open('log.txt', 'a') as f:
        f.write(timestamp + ' ' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [93]:
# Write your code here
log('ETL Job Started')
log('Extract phase Started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [94]:
# Call the function here
df = extract_from_csv('exchange_rates.csv')
# Print the rows here
df.head(5)

      Market Cap (US$ Billion)
Name
AUD                   1.297088
BGN                   1.608653
BRL                   5.409196
CAD                   1.271426
CHF                   0.886083

Log the data as <code>"Extract phase Ended"</code>

In [95]:
# Write your code here
log('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [96]:
# Write your code here
log('Transform phase Started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [97]:
# Call the function here
exchange_rate = df.loc['GBP', 'Market Cap (US$ Billion)']
df = transform(df, exchange_rate)
# Print the first 5 rows here
df.head(5)

      Market Cap (GBP$ Billion)
Name
AUD                       1.771
BGN                       2.196
BRL                       7.386
CAD                       1.736
CHF                       1.210

Log your data <code>"Transform phase Ended"</code>

In [98]:
# Write your code here
log('Transform phase Ended')

### Load

Log the following `"Load phase Started"`.

In [99]:
# Write your code here
log('Load phase Started')

Call the load function

In [100]:
# Write your code here
load(df)

Log the following `"Load phase Ended"`.

In [101]:
# Write your code here
log('Load phase Ended')

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).